
.intro {
    background-color: rgb(73, 73, 73);
}

.intro__container {
    // position: absolute;
    row-gap: 50px;
    & > :nth-child(n) {
        width: 100%;
    }
    
    .intro__container-content {
        // padding-left: 50px;
    }

    @media only screen and (min-width: 600px) {
        display: flex;
        justify-content: center;

        & > :nth-child(n) {
            width: 400px;
        }

    }
}

.intro__social-media {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-icon {
    border-radius: 100%;
    max-width: 300px;
}