
.intro {
    background-color: rgb(73, 73, 73);
}

.intro__container {
    display: flex;
    justify-content: center;
    row-gap: 50px;
    
    .intro__container-content {
        width: 100%;
    }
        
    // desktop
    @media only screen and (min-width: 600px) {
        .intro__container-content {
            max-width: 800px;
            display: flex;
            justify-content: space-evenly;  
            
            & > :nth-child(n) {
                width: 300px;
            }
        }
    }
}

.intro__social-media {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-icon {
    border-radius: 100%;
    width: inherit;
}