@mixin dark-background {
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.intro {
    // @include dark-background;
}

.intro__container {
    width: 100%;
    background: rgba(53, 53, 53, 0.418);
    display: flex;
    justify-content: center;
    row-gap: 50px;
    padding: 5% 0px;
    
    .intro__container-content {
        width: 100%;
        padding: 0px 5%;
    }
        
    // desktop
    @media only screen and (min-width: 600px) {
        align-self: center;
        margin: 0px;

        .intro__container-content {
            max-width: 800px;
            display: flex;
            justify-content: space-evenly;  
            
            & > :nth-child(n) {
                width: 300px;
            }
        }
    }
}

.intro__social-media {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.image-icon {
    border-radius: 100%;
    width: inherit;
}

.about {
    @media (min-width: 725px) {
        width: 300px;
    }

    @media (max-width: 724px) {
        width: 100%;
        @include dark-background;
    }
}