.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.page {
  min-height: 100vh;
  display: flex;
}

.Kenny-Nguyen {
  position: relative;
  height: 100vh;
}

.controls_container_item {
  position: absolute;
  // height:inherit;
  top: 50%;
  // display: flex;
  &.left-control-item {
    left: 0;
  }
  &.right-control-item {
    right: 0;
  }
}