.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.page {
  min-height: 100vh;
  display: flex;
}

.Kenny-Nguyen {
  position: relative;
  @media (min-width: 1025px) {
    height: 100vh;
  }

  @media (max-width: 1024px) {
    min-height: 100vh;
  }
}

.controls_container_item {
  position: absolute;
  // height:inherit;
  top: 50%;
  // display: flex;
  &.left-control-item {
    left: 0;
  }
  &.right-control-item {
    right: 0;
  }
}

.basic-template {
  display: flex;
  width: 100%;
  height: inherit;
  align-items: center;
  // display: flex;
  row-gap: 50px;
  
  .template-container {
    
    @media (min-width: 1025px) {
      width: inherit;
      justify-content: space-evenly;
      display: flex;
      background: rgba(53, 53, 53, 0.418);
      padding: 5% 0px;
    }
  }
}